<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623049063415-8hh21bt6mcenbdjbh8753dm0gev4dnl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623049063415-8hh21bt6mcenbdjbh8753dm0gev4dnl7</string>
	<key>API_KEY</key>
	<string>AIzaSyBlMpU63wwY34o94s-px9G4k60ucoYQto8</string>
	<key>GCM_SENDER_ID</key>
	<string>623049063415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapplication</string>
	<key>PROJECT_ID</key>
	<string>flight-app-45012</string>
	<key>STORAGE_BUCKET</key>
	<string>flight-app-45012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623049063415:ios:9761def8ac8b3734b5ccf2</string>
</dict>
</plist>